<!-- CONTENT HEADER -->
<div class="header white-fg p-24">
  <button mat-button class="mat-icon-button sidenav-toggle" fuseMatSidenavToggler="carded-left-sidenav" fxHide.gt-md>
    <mat-icon>menu</mat-icon>
  </button>
  <h2>Fastway</h2>
</div>
<!-- / CONTENT HEADER -->

<!-- CONTENT CARD -->
<!-- <div class="content-card mat-white-bg"> -->

<!-- CONTENT TOOLBAR -->
<div class="content-card mat-white-bg">
  <div class="toolbar px-24 py-8">
    <span></span>
  </div>
</div>
<!-- / CONTENT TOOLBAR -->

<!-- CONTENT -->
<div class="content">

  <ngx-datatable #dataTable class="material fullscreen" [rows]="consignments" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
    [headerHeight]="48" [footerHeight]="56" [columnMode]="'force'" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
    [selectionType]="'checkbox'" [limit]="10">

    <ngx-datatable-column [width]="48" [canAutoResize]="false" [sortable]="false">
      <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
        <mat-checkbox [checked]="allRowsSelected"></mat-checkbox>
      </ng-template>

      <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
        <mat-checkbox [checked]="isSelected"></mat-checkbox>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [width]="5" name="ID" prop="clientIndex_id">
    </ngx-datatable-column>

    <ngx-datatable-column [width]="5" name="Receiver" prop="shipTo_name">
    </ngx-datatable-column>

    <ngx-datatable-column [width]="5" name="Method" prop="shipping_method">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value.name}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [width]="5" name="Courier" prop="shipping_method">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value.serviceProvider}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [width]="1" name="printed" prop="printed">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-icon *ngIf="row.printed" class="active-icon mat-green-600-bg s-16">check</mat-icon>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [width]="1" name="processed" prop="processed">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-icon *ngIf="row.processed" class="active-icon mat-green-600-bg s-16">check</mat-icon>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [width]="1" name="shipped" prop="shipped">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-icon *ngIf="row.shipped" class="active-icon mat-green-600-bg s-16">check</mat-icon>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [width]="1" name="closed" prop="closed">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-icon *ngIf="row.closed" class="active-icon mat-green-600-bg s-16">check</mat-icon>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [width]="5" name="Create" prop="created_at">
    </ngx-datatable-column>
  </ngx-datatable>

</div>
<!-- / CONTENT -->

<!-- </div> -->
<!-- / CONTENT CARD -->
