<div class="p-24" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxLayoutGap="24px" fxLayoutWrap>

  <div class="info-box general pb-24" fxLayout="column">
    <plugin-card [plugin]="plugin" ></plugin-card>
  </div>
  <div class="info-box general pb-24" fxLayout="column">
    <plugin-card [plugin]="plugin2"></plugin-card>
  </div>
  <div class="info-box general pb-24" fxLayout="column">
    <plugin-card [plugin]="plugin"></plugin-card>
  </div>
  <div class="info-box general pb-24" fxLayout="column">
    <plugin-card [plugin]="plugin2"></plugin-card>
  </div>
</div>
