<div class="page-layout simple tabbed" fusePerfectScrollbar>
    <div class="content">
        <mat-tab-group dynamicHeight="true">
            <mat-tab label="Create New Consignment">
                <div id="new-consignment" class="page-layout simple" fusePerfectScrollbar>
                    <div id="new-consignment" class="page-layout simple" fusePerfectScrollbar>
                        <!-- HEADER -->
                        <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <button mat-button class="mat-icon-button sidenav-toggle mr-12" fuseMatSidenavToggler="contacts-main-sidenav" fxHide.gt-md>
                                    <mat-icon>menu</mat-icon>
                                </button>
                                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box</mat-icon>
                                    <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Create consignment</span>
                                </div>
                            </div>
                        </div>
                        <div class="center p-24" fusePerfectScrollbar>
                            <div layout-gt-xs="row" layout-xs="column" layout-align="stretch center" class="layout-xs-column layout-gt-xs-row layout-align-stretch-center">
                                <div layout="row" layout-align="start center" class="layout-align-start-center layout-row">
                                    <form name="consignmentForm" [formGroup]="consignmentForm" novalidate>
                                        <div class="mat-white-bg p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                                            <!-- <div class="h2 mb-24">Reactive Form Example</div> -->
                                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                                <mat-form-field fxFlex="33">
                                                    <input matInput placeholder="Consignee" formControlName="consignee" required [(ngModel)]="consignment['shipTo_name']">
                                                    <mat-error *ngIf="consignmentFormErrors.consignee.required">
                                                        Consignee is required
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field fxFlex="34">
                                                    <input matInput placeholder="Email" formControlName="email" required [(ngModel)]="consignment['shipTo_email']">
                                                    <mat-error *ngIf="consignmentFormErrors.email.required">
                                                        Email is required
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field fxFlex="33">
                                                    <input matInput placeholder="Phone" formControlName="phone" required [(ngModel)]="consignment['shipTo_phone']">
                                                    <mat-error *ngIf="consignmentFormErrors.phone.required">
                                                        Phone is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                                <mat-form-field fxFlex="50">
                                                    <input matInput placeholder="Company Name" formControlName="companyName" [(ngModel)]="consignment['shipTo_companyName']">
                                                </mat-form-field>
                                                <mat-form-field fxFlex="50">
                                                    <input matInput placeholder="Instruction" formControlName="instruction" required [(ngModel)]="consignment['shipTo_instruction1']">
                                                    <mat-error *ngIf="consignmentFormErrors.instruction.required">
                                                        Instruction is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                                <mat-form-field fxFlex="100">
                                                    <input matInput placeholder="Address 1" formControlName="address1" required [(ngModel)]="consignment['shipTo_address1']">
                                                    <mat-error *ngIf="consignmentFormErrors.address1.required">
                                                        Address 1 is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                                <mat-form-field fxFlex="100">
                                                    <input matInput placeholder="Address 2" formControlName="address2" [(ngModel)]="consignment['shipTo_address2']">
                                                </mat-form-field>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>
                                                <mat-form-field fxFlex="25">
                                                    <input matInput placeholder="Suburb" formControlName="suburb" required [(ngModel)]="consignment['shipTo_suburb']">
                                                    <mat-error *ngIf="consignmentFormErrors.suburb.required">
                                                        Suburb is required
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field fxFlex="25">
                                                    <input matInput placeholder="State" formControlName="state" required [(ngModel)]="consignment['shipTo_state']">
                                                    <mat-error *ngIf="consignmentFormErrors.state.required">
                                                        State is required
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field fxFlex="25">
                                                    <input matInput placeholder="Postcode" formControlName="postcode" required [(ngModel)]="consignment['shipTo_postcode']">
                                                    <mat-error *ngIf="consignmentFormErrors.postcode.required">
                                                        Postcode is required
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field fxFlex="25">
                                                    <input matInput placeholder="Country" formControlName="country" required [(ngModel)]="consignment['shipTo_country']">
                                                    <mat-error *ngIf="consignmentFormErrors.country.required">
                                                        Country is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <ngx-datatable fxFlex="100" #myTable class='material fullscreen expandable' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [rows]=rows [columns]=columnsRef [limit]="20">
                                                    <ng-template #cellEditTextTmpl let-rowIndex="rowIndex" let-column="column" let-value="value" let-row="row" ngx-datatable-cell-template>
                                                        <mat-form-field class="example-full-width">
                                                            <input type="text" matInput class="number" (change)="updateValue($event, column.prop, rowIndex)">
                                                        </mat-form-field>
                                                    </ng-template>
                                                    <ng-template #cellActionTmpl let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                        <mat-button-toggle-group #group="matButtonToggleGroup">
                                                            <mat-button-toggle value="left" (click)="addOrderLine($event, row,rowIndex)" [id]="rowIndex">
                                                                New
                                                            </mat-button-toggle>
                                                            <mat-button-toggle value="right" (click)="deleteOrderLine($event, row,rowIndex)" *ngIf="totalRowNum !== 1">
                                                                Delete
                                                            </mat-button-toggle>
                                                        </mat-button-toggle-group>
                                                    </ng-template>
                                                </ngx-datatable>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start center" class="p-24">
                                                <!-- <button *ngIf="!orderlineAdded" class="w-20-p" fxFlex="25" mat-raised-button color="primary" (click)="addOrderLine()">Add Orderline</button> -->
                                                <button class="w-20-p" fxFlex="25" mat-raised-button color="primary" (click)="submit()">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Import consignment">
                <div id="import-consignment" class="" fxLayout="row" fxLayoutWrap>
                    <div class="content p-24">
                        <div fxLayout="column" fxLayoutAlign="center">
                            <div>
                                <input type="file" #consignmentImportInput name="File Upload" id="txtFileUpload" class="btn btn-primary" (change)="fileChangeListener($event)" accept=".csv" value={{selectedImageFile}}/>
                                <mat-error *ngIf="needCSVFile">
                                    A CSV file is required!
                                </mat-error>
                            </div>
                            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                                <button mat-raised-button color="accent" class="submit-button" aria-label="Submit" (click)=uploadconsignment($event.target)> Submit </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>