<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Edit Order</span>
            <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div id="orderedit" mat-dialog-content class="fullwidth" fusePerfectScrollbar style="padding: 0; margin: 0;">
        <div class="content-card mat-white-bg">
            <div class="content">
                <mat-tab-group>
                    <mat-tab label="Shipment">
                        <div class="order-edit tab-content p-24" fusePerfectScrollbar>
                            <form name="loginForm" [formGroup]="orderEditForm" novalidate>
                                <div class="" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">

                                    <div class="h2 mb-24">Edit Order</div>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="33">
                                            <input matInput placeholder="Recipient Name" required [(ngModel)]="order['shipTo_name']" formControlName="shipTo_name">
                                        </mat-form-field>

                                        <mat-form-field fxFlex="34">
                                            <input matInput placeholder="Email" required [(ngModel)]="order['shipTo_email']" formControlName="shipTo_email">
                                        </mat-form-field>

                                        <mat-form-field fxFlex="33">
                                            <input matInput placeholder="Phone" required [(ngModel)]="order['shipTo_phone']" formControlName="shipTo_phone">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="100">
                                            <input matInput placeholder="Address 1" required [(ngModel)]="order['shipTo_address1']" formControlName="shipTo_address1">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="100">
                                            <input matInput placeholder="Address 2" [(ngModel)]="order['shipTo_address2']" formControlName="shipTo_address2">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>
                                        <mat-form-field fxFlex="25">
                                            <input matInput placeholder="Suburb" required [(ngModel)]="order['shipTo_suburb']" formControlName="shipTo_suburb">
                                        </mat-form-field>
                                        <mat-form-field fxFlex="25">
                                            <input matInput placeholder="Postcode" required [(ngModel)]="order['shipTo_postcode']" formControlName="shipTo_postcode">
                                        </mat-form-field>
                                        <mat-form-field fxFlex="25">
                                            <input matInput placeholder="State" required [(ngModel)]="order['shipTo_state']" formControlName="shipTo_state">
                                        </mat-form-field>
                                        <mat-form-field fxFlex="25">
                                            <input matInput placeholder="Country" required [(ngModel)]="order['shipTo_country']" formControlName="shipTo_country">
                                        </mat-form-field>
                                    </div>
                                    <button class="w-20-p" fxFlex="100" mat-raised-button color="primary" (click)="submit($event.target)">Submit</button>
                                </div>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>