<!-- CONTENT HEADER -->
<div class="header white-fg p-24">
  <h2>All Consignments</h2>
</div>
<!-- / CONTENT HEADER -->

<!-- CONTENT CARD -->
<div class="content-card mat-white-bg">

<!-- CONTENT TOOLBAR -->
<div class="toolbar px-24 py-8">
                    <button mat-button class="mat-icon-button sidenav-toggle"
                            fuseMatSidenavToggler="carded-left-sidenav"
                            fxHide.gt-md>
                        <mat-icon>menu</mat-icon>
                    </button>

                    <span *ngIf="selected?.length">
                      {{selected.length}} Selected: <button mat-icon-button (click)="printSelected()">
                          <mat-icon class="mat-18">print</mat-icon>
                      </button>
                    </span>
                </div>
<!-- / CONTENT TOOLBAR -->

<!-- CONTENT -->
<div class="content">
    <ag-grid-angular #agGrid style="width: 100%; min-height: 600px;" class="ag-theme-material" [gridOptions]="gridOptions" [columnDefs]="columnDefs"></ag-grid-angular>
</div>
<!-- / CONTENT -->

</div>
<!-- / CONTENT CARD -->
