<div class="page-layout carded left-sidenav single-scroll" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <mat-sidenav-container>
        <!-- SIDENAV -->
        <mat-sidenav class="sidenav" align="start" opened="true" mode="side"
                     fuseMatSidenavHelper="carded-left-sidenav" mat-is-locked-open="gt-md">

            <!-- SIDENAV HEADER -->
            <div class="header p-24" ngClass="mat-accent-bg" ngClass.gt-md="white-fg">
                <h2>Consignments</h2>
            </div>
            <!-- / SIDENAV HEADER -->

            <!-- SIDENAV CONTENT -->
            <div class="content p-24" fusePerfectScrollbar>

                <consignments-side-nav></consignments-side-nav>

            </div>
            <!-- / SIDENAV CONTENT -->

        </mat-sidenav>

    <!-- CENTER -->
    <div class="center">

        <router-outlet></router-outlet>

    </div>
    <!-- / CENTER -->

  </mat-sidenav-container>

</div>
