<div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
  </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="consignment.errors" (click)="fixIssue()">
            <mat-icon>local_shipping</mat-icon>
            <span>Fix issue</span>
        </button>
        <button mat-menu-item *ngIf="consignment.processed && !consignment.errors" (click)="pirntConsignment()">
            <mat-icon>local_shipping</mat-icon>
            <span>Print</span>
        </button>
        <button mat-menu-item *ngIf="!consignment.processed && !consignment.errors" (click)="solidConsignment()">
            <mat-icon>local_shipping</mat-icon>
            <span>Solid</span>
        </button>
        <button mat-menu-item *ngIf="consignment.printed && !consignment.errors" (click)="submitConsignment()">
            <mat-icon>local_shipping</mat-icon>
            <span>Submit</span>
        </button>
    </mat-menu>
</div>